.title {
  font-family:"ＭＳ 明朝","MS Mincho";
  padding-top:18px;
  text-align: center;
  color: #ff8c00;
  font-size:45px;
}

h3 {
  color: #ff8c00;
  font-size:25px;
  font-family:"MS PMincho";
  text-align: center;
}



.main-logo{
  position: relative;
  overflow: hidden;
}

.main-logo ul {
  position: relative;
  left: 50%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}

.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 20px;
  padding-right:80px;
  padding-bottom:20px;
}

a {
font-family:"Meiryo";
color: #00afcc;
}



.hoge{
  padding-top:40px;
  text-align: center;
  padding-bottom:100px;
}



.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:500px;
}

.section4 h5{
  font-size:18px;
  font-family: "MS PMincho";
}

.section4 p{
  font-size:15px;
  font-family: "MS Mincho";
}



.section5{
  text-align:center;
}

.section5 .twitter-timeline{
  display:inline;
  zoom:1;
}

.section5 .site-title{
  display:table-cell;
  display:inline-block;
  padding-top:87px;
  padding-left:80px;
}



.footer{
  text-align:center;
  padding-top:80px;
  padding-bottom:50px;
}



@media screen and (min-width:1035px) and ( max-width:1207px) {
  .main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 20px;
  padding-right:70px;
  padding-bottom:20px;
}
}

@media screen and (min-width:905px) and ( max-width:1034px) {
  .main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 18px;
  padding-right:60px;
  padding-bottom:20px;
}
}

@media screen and (min-width:770px) and ( max-width:904px) {
   .main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 18px;
  padding-right:40px;
  padding-bottom:20px;
}
  
  .section5 .site-title{
    display:table-cell;
    display:inline-block;
    padding-top:87px;
    padding-left:5px;
}
}

@media screen and (min-width:600px) and (max-width:769px){

  .main-logo{
    position: relative;
    overflow: hidden;
}

  .main-logo ul {
    position: relative;
    left: 46%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
    float: left;
}
  
    .main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 14px;
  padding-right:30px;
  padding-bottom:10px;
}
 
  a {
font-family:"Meiryo";
color: #00afcc;
}
  
.hoge{
  padding-top:10px;
  text-align: center;
  padding-bottom:50px;
}
  
.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:620px;
}

.section4 h5{
  font-size:18px;
  font-family: "MS PMincho";
}

.section4 p{
  font-size:15px;
  font-family: "MS Mincho";
}

.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
.section5 .site-title{
    display:none;
}
}


@media screen and (min-width:520px) and (max-width:599px) {

  
  .main-logo{
    position: relative;
    overflow: hidden;
}

  .main-logo ul {
    position: relative;
    left: 44%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
    float: left;
}
  
    .main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 13px;
  padding-right:20px;
  padding-bottom:20px;
}
 
  a {
font-family:"Meiryo";
color: #00afcc;
}  

.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:500px;
}

.section4 h5{
  font-size:18px;
  font-family: "MS PMincho";
}

.section4 p{
  font-size:15px;
  font-family: "MS Mincho";
}
  
.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
  
.section5 .site-title{
    display:none;
}
}
  
@media screen and (min-width:500px) and (max-width:519px) {
  
.title {
  font-family:"ＭＳ 明朝","MS Mincho";
  padding-top:18px;
  text-align: center;
  color: #ff7f50;
  font-size:45px;
}
  
 .main-logo{
    position: relative;
    overflow: hidden;
}

  .main-logo ul {
    position: relative;
    left: 44%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
    float: left;
}
  
    .main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 13px;
  padding-right:16px;
  padding-bottom:20px;
}
 
  a {
font-family:"Meiryo";
color: #00afcc;
}  
  
.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:480px;
}

.section4 h5{
  font-size:18px;
  font-family: "MS PMincho";
}

.section4 p{
  font-size:15px;
  font-family: "MS Mincho";
}
  
.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
  
.section5 .site-title{
    display:none;
}
}

@media screen and (max-width:499px) {
  
.title {
  font-family:"ＭＳ 明朝","MS Mincho";
  padding-top:18px;
  text-align: center;
  color: #000000;
  font-size:45px;
}
  
.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:380px;
}

.section4 h5{
  font-size:18px;
  font-family: "MS PMincho";
}

.section4 p{
  font-size:10px;
  font-family: "MS Mincho";
}
  
.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
  
.section5 .site-title{
    display:none;
}
}
