.title {
  font-family:"メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
  padding-top:28px;
  text-align: center;
  color: #ff8c00;
  font-size:45px;
}

h3 {  
  color: #ff8c00;
  font-size:25px;
  font-family:"メイリオ", "Meiryo", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  text-align: center;
}



.main-logo{
  position: relative;
  overflow: hidden;
}

.main-logo ul {
  position: relative;
  left: 50%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}

.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 20px;
  padding-top:10px;
  padding-right:100px;
  padding-bottom:20px;
}

a {
font-family:"メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
color: #00afcc;
}



.hoge{
  padding-top:40px;
  text-align: center;
  padding-bottom:70px;
}  



.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:500px;
}

.section4 h5{
  font-size:18px;
  font-family:"メイリオ", "Meiryo", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.section4 p{
  font-size:15px;
  font-family:"メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
}



.section5{
  text-align:center;
}

.section5 .twitter-timeline{
  display:inline;
  zoom:1;
}

.section5 .site-title{
  display:table-cell;
  display:inline-block;
  padding-top:87px;
  padding-left:80px;
}



.footer{
  text-align:center;
  padding-top:80px;
  padding-bottom:50px;
}



@media screen and (min-width:1035px) and ( max-width:1207px) {
.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 20px;
  padding-top:10px;
  padding-right:70px;
  padding-bottom:20px;
}
  
.hoge{
  padding-top:40px;
  text-align: center;
  padding-bottom:70px;
}    
}

@media screen and (min-width:905px) and ( max-width:1034px) {
.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 18px;
  padding-top:10px;
  padding-right:60px;
  padding-bottom:20px;
}
  
.hoge{
  padding-top:40px;
  text-align: center;
  padding-bottom:70px;
}   
}

@media screen and (min-width:770px) and ( max-width:904px) {
.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 18px;
  padding-top:10px;
  padding-right:40px;
  padding-bottom:20px;
}
  
.hoge{
  padding-top:40px;
  text-align: center;
  padding-bottom:70px;
}
 
.section5 .site-title{
  display:table-cell;
  display:inline-block;
  padding-top:87px;
  padding-left:5px;
}
}

@media screen and (min-width:700px) and (max-width:769px){
.main-logo{
  position: relative;
  overflow: hidden;
}

.main-logo ul {
  position: relative;
  left: 46%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}
  
.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 17px;
  padding-right:30px;
  padding-bottom:10px;
}
 
a {
  font-family:"メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
  color: #00afcc;
}
  
.hoge{
  padding-top:20px;
  text-align: center;
  padding-bottom:60px;
}
  
.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:620px;
}

.section4 h5{
  font-size:18px;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.section4 p{
  font-size:15px;
  font-family: "メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
}

.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
  
.section5 .site-title{
  display:none;
}
}

@media screen and (min-width:600px) and (max-width:699px){
.main-logo{
  position: relative;
  overflow: hidden;
}

.main-logo ul {
  position: relative;
  left: 46%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}
  
.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 14px;
  padding-right:30px;
  padding-bottom:10px;
}
 
a {
  font-family:"メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
  color: #00afcc;
}
  
.hoge{
  padding-top:20px;
  text-align: center;
  padding-bottom:60px;
}
  
.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:620px;
}

.section4 h5{
  font-size:18px;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.section4 p{
  font-size:12.5px;
  font-family: "メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
}

.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
  
.section5 .site-title{
  display:none;
}
}

@media screen and (min-width:520px) and (max-width:599px) {
.main-logo{
  position: relative;
  overflow: hidden;
}

.main-logo ul {
  position: relative;
  left: 44%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}
  
.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 13px;
  padding-right:20px;
  padding-bottom:10px;
}
 
a {
  font-family:"メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
  color: #00afcc;
}  
  
.hoge{
  padding-top:20px;
  text-align: center;
  padding-bottom:50px;
}  

.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:500px;
}

.section4 h5{
  font-size:18px;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.section4 p{
  font-size:12.5px;
  font-family: "メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
}
  
.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
  
.section5 .site-title{
  display:none;
}
}
  
@media screen and (min-width:500px) and (max-width:519px) {
.main-logo{
  position: relative;
  overflow: hidden;
}

.main-logo ul {
  position: relative;
  left: 44%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}
  
.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-size: 13px;
  padding-right:16px;
  padding-bottom:10px;
}
 
a {
  font-family:"メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
  color: #00afcc;
}  
  
.hoge{
  padding-top:20px;
  text-align: center;
  padding-bottom:50px;
}
  
.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:480px;
}

.section4 h5{
  font-size:18px;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.section4 p{
  font-size:12.5px;
  font-family: "メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
}
  
.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
  
.section5 .site-title{
  display:none;
}
}

@media screen and (max-width:499px) {
.main {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}

.main-logo {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  box-ordinal-group: 3;
}
 
.hoge {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
}  
  
.section4{
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
}  
  
h3 {
  color: #25b7c0;
  font-size:25px;
  font-family:"MS PMincho";
  text-align: center;
}
   
a {
  font-family:"メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
  color: #043c78;
}  
  
.main-logo{
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main-logo ul {
  position: relative;
  left: 60%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left
}

.main-logo ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
  font-weight:bold;
  font-size: 21px;
  padding-bottom:20px;
}
  
.section4{
  text-align:center;
}

.section4 .logo{
  display:inline;
  zoom:1;
}

.section4 .site-title{
  display:table-cell;
  display:inline-block;
  width:360px;
}

.section4 h5{
  font-size:18px;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.section4 p{
  font-size:11.2px;
  font-family: "メイリオ", "Meiryo", "ＭＳ 明朝", "MS Mincho", serif;
}
  
.section5{
  text-align:center;
  padding-top:50px;
}

.section5 .twitter-timeline{
  display:block;
  zoom:1;
}
  
.section5 .site-title{
  display:none;
}
}
